extends ../public/layout

block content
    .container-fuild
        .row
            .col-md-4.col-md-offset-4.search-section
                a.text-center(href="/research")
                    h3=title
                div(class="input-group row index-input")
                    input(type="text" class="form-control search-input" placeholder="" aria-describedby="basic-addon2")
                    span(class="input-group-addon span-search" id="basic-addon2")
                        i(class="fa fa-search" aria-hidden="true")
        .row.content-section
            .col-md-10.col-md-offset-1
                -for(var i=0;i<hotsearch.length;i++)
                    .col-sm-6.col-md-3
                        a(href="/research/scenic/"+hotsearch[i].scene_name)
                            div(class="thumbnail commend-block")
                                img(src=hotsearch[i].piciture alt=hotsearch[i].scene_name)
                                h5=hotsearch[i].scene_name
                                .score-show
                                    p
                                        span 中:&nbsp;
                                            -for(var j=0;j<hotsearch[i].chi_score;j++)
                                                i(class="fa fa-star" aria-hidden="true")
                                .score-show
                                    p
                                        span 美:&nbsp;
                                            -for(var j=0;j<hotsearch[i].eng_score;j++)
                                                i(class="fa fa-star" aria-hidden="true")
                                .score-show
                                    p
                                        span 泰:&nbsp;
                                            -for(var j=0;j<hotsearch[i].thai_score;j++)
                                                i(class="fa fa-star" aria-hidden="true")


            .col-md-10.col-md-offset-1.page-show
                nav(aria-label="Page navigation")
                    ul(class="pagination")
                        if page>1
                            li
                                a(href="/research/"+(Number(page)-1) aria-label="Previous")
                                    span(aria-hidden="true") &laquo;
                        -for(var i=1;i<=3;i++)
                            if i==page
                                li
                                    a.active_page(href="/research/"+i)=i
                            else
                                li
                                    a(href="/research/"+i)=i
                        if page<3
                            li
                                a(href="/research/"+(Number(page)+1) aria-label="Next")
                                    span(aria-hidden="true") &raquo;


