extends ../public/layout

block content

    div.container-fuild.scenic-container
        .row
            .col-md-10.col-md-offset-1.scenic-title
                h3.scene_name=scenic.scene_name
            .col-md-10.col-md-offset-1.scenic-navbar
                div.row(id="scenic-navbar")
                    ul(class="scenic-navbar-ul")
                        li.active
                            a(href="#scenic-message") 概括
                        li
                            a(href="#scenic-intro") 简介
                        li
                            a(href="#scenic-address") 地址
                        li
                            a(href="#scenic-analyse") 景点分析
                        li
                            a(href="#scenic-comment") 评论信息

        div.row.scroll-content
            div.scenic-section.row(id="scenic-message")
                .col-md-10.col-md-offset-1
                    .message-left
                        div(id="boxID")
                            .loading
                                img(src="/image/scenic/loading.gif" alt="请稍候...")
                            .pic
                                ul
                                    -for(var i=0;i<scenic.picture.length;i++)
                                        if(scenic.picture[i])
                                            li
                                                a(href=scenic.picture[i])
                                                    img(src=scenic.picture[i] thumb=scenic.picture[i] alt=" " text=" ")

                    .message-right
                        .col-md-7.message-intro
                            h4 概览
                            .col-md-12.ppadding
                                p=scenic.description
                        .col-md-5.message-star
                            h4 星级评价
                            .col-md-10.col-md-offset-1.message-score
                                .row.total-show
                                    span.total=scenic.total_score
                                    span.total-star
                                        -for(var i=0;i<scenic.total_score;i++)
                                            i(class="fa fa-star" aria-hidden="true")
                                        span=scenic.comments_num
                                            | 人评价
                                .row.fen-show
                                    p 中 &nbsp;
                                        -for(var i=0;i<scenic.chi_score;i++)
                                            i(class="fa fa-star" aria-hidden="true")
                                        span=scenic.chi_score
                                    p 美 &nbsp;
                                        -for(var i=0;i<scenic.eng_score;i++)
                                            i(class="fa fa-star" aria-hidden="true")
                                        span=scenic.eng_score
                                    p 泰 &nbsp;
                                        -for(var i=0;i<scenic.thai_score;i++)
                                            i(class="fa fa-star" aria-hidden="true")
                                        span=scenic.thai_score


            div.scenic-section.row(id="scenic-intro")
                .col-md-10.col-md-offset-1
                    h4 景点简介
                        p=scenic.introduction
            div.scenic-section.row(id="scenic-address")
                .col-md-10.col-md-offset-1
                    h4 景点地址
                    .col-md-8.map-show(id="allmap")
                    .col-md-4
                        span.small

            div.scenic-section.row(id="scenic-analyse")
                .col-md-10.col-md-offset-1
                    h4 景点分析
                    .col-md-12.analyse-content
                        .analyse-title
                            span.active.col-md-6(id="bar-chart") 柱状分析
                            span.col-md-6(id="pie-chart") 饼状分析
                        .chart-show
                            .chart-page.row(id="bar-chart-page")
                            .chart-page.row(id="pie-chart-page")
                                .col-md-4.pie(id="pie1-chart-page")
                                .col-md-4.pie(id="pie2-chart-page")
                                .col-md-4.pie(id="pie3-chart-page")

            div.scenic-section.row(id="scenic-comment")
                .col-md-10.col-md-offset-1
                    h4 评价详情
                    ul.row.selection
                        li.line_active(id="chi") 中
                        li(id="eng") 美
                        li(id="thai") 泰
                        span.line-slide
                .col-md-10.col-md-offset-1.comment-tag

                .comment-content
                    .col-md-10.col-md-offset-1.span-more.text-center
                        span 请点击语言查看评论
                    .col-md-10.col-md-offset-1.chi-page
                    .col-md-10.col-md-offset-1.eng-page
                    .col-md-10.col-md-offset-1.thai-page



        .backtotop
            i(class="fa fa-2x fa-angle-up" aria-hidden="true")


