extends ../public/layout

block content
    .container-fuild
        .row
            .col-md-10.col-md-offset-1.search-title
                h3=scene.scene_name
        .row.search-content
            .col-md-10.col-md-offset-1.search-intro
                .search-left
                    div(id="boxID")
                        .loading
                            img(src="/image/scenic/loading.gif" alt="请稍候...")
                        .pic
                            ul
                                -for(var i=0;i<scene.picture.length;i++)
                                    li
                                        a(href="#")
                                            img(src=scene.picture[i] thumb="" alt="" text="")


                .search-right
                    .search-mess
                        h5 景点介绍
                        p=scene.introduction
                    .serch-button
                        a(class="btn btn-default" href="/research/bigSearch/"+scene.scene_name+"/"+1 role="button") 共有
                            span=scene.scene_num
                            | 个景点

            .col-md-10.col-md-offset-1.search-command
                h4.command-name 推荐景点
                .command-list
                    -for(var i=0;i<scene.recommend_scene.length;i++)
                        .col-md-6
                            div(class="media media-block")
                                div(class="media-left")
                                    a(href="/research/scenic/"+scene.recommend_scene[i].scene_name)
                                        img(class="media-object media-img" src=scene.recommend_scene[i].picture alt=scene.recommend_scene[i].scene_name)
                                div(class="media-body")
                                    a(href="/research/scenic/"+scene.recommend_scene[i].scene_name)
                                        h4(class="media-heading")=scene.recommend_scene[i].scene_name
                                        .score-show
                                            p
                                                span 中:&nbsp;
                                                    -for(var j=0;j<scene.recommend_scene[i].score[0];j++)
                                                        i(class="fa fa-star" aria-hidden="true")
                                            p
                                                span 美:&nbsp;
                                                    -for(var j=0;j<scene.recommend_scene[i].score[1];j++)
                                                        i(class="fa fa-star" aria-hidden="true")
                                            p
                                                span 泰:&nbsp;
                                                    -for(var j=0;j<scene.recommend_scene[i].score[2];j++)
                                                        i(class="fa fa-star" aria-hidden="true")

