extends public/layout

block content
    .container-fluid
        div(id="carousel-example-generic" class="row carousel slide index-slide" data-ride="carousel")
            ol(class="carousel-indicators")
                li(data-target="#carousel-example-generic" data-slide-to="0" class="active")
                li(data-target="#carousel-example-generic" data-slide-to="1")
                li(data-target="#carousel-example-generic" data-slide-to="2")
            div(class="carousel-inner" role="listbox")
                div(class="item active")
                    img(src="/image/index_sea/sea1.jpg" alt="泰好玩")
                div(class="item")
                    img(src="/image/index_sea/sea2.jpg" alt="泰好玩")
                div(class="item")
                    img(src="/image/index_sea/sea3.jpg" alt="泰好玩")
            a(class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev")
                span(class="glyphicon glyphicon-chevron-left" aria-hidden="true")
                span(class="sr-only") Previous
            a(class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next")
                span(class="glyphicon glyphicon-chevron-right" aria-hidden="true")
                span(class="sr-only") Next
            div(class="index-text")
                h1(class="index-text-bigger") 泰好玩
                span(class="index-span") ,和你一起用三种眼光看泰国
                .col-md-8
                    div(class="input-group row index-input")
                        input(type="text" class="form-control index-search-text" placeholder="" aria-describedby="basic-addon2")
                        span(class="input-group-addon span-search" id="basic-addon2")
                            i(class="fa fa-search" aria-hidden="true")
                    -for(var i=0;i<indexdata.hot_search_word.length;i++)
                        span(class="index-commend")=indexdata.hot_search_word[i]

        .row
            div(class="commend-section col-md-12")
                div(class="commend-title col-md-12")
                    h3
                        a(href="/research") 热门地点
                -for(var i=0;i<indexdata.hot_location.length;i++)
                    .col-sm-6.col-md-3
                        a.commend-href(href="")
                            div(class="thumbnail commend-block")
                                img.commend-img(src=indexdata.hot_location[i].piciture alt=indexdata.hot_location.scene_name)
                                h4.commend-text-title=indexdata.hot_location[i].scene_name
                                .score-show
                                    p
                                        span 中:&nbsp;
                                            -for(var j=0;j<indexdata.hot_location[i].chi_score;j++)
                                                i(class="fa fa-star" aria-hidden="true")
                                    p
                                        span 美:&nbsp;
                                            -for(var j=0;j<indexdata.hot_location[i].eng_score;j++)
                                                i(class="fa fa-star" aria-hidden="true")
                                    p
                                        span 泰:&nbsp;
                                            -for(var j=0;j<indexdata.hot_location[i].thai_score;j++)
                                                i(class="fa fa-star" aria-hidden="true")


        .row
            div(class="acticle-section")
                div(class="acticle-title col-md-12")
                    h3
                        a(href="/article") 推荐游记
                -for(var j=0;j<indexdata.recommend_travel_notes.length;j++)
                .col-md-6
                    div(class="media media-block")
                        div(class="media-left")
                            a(href="/article/content/" + indexdata.recommend_travel_notes[j].id)
                                img(class="media-object media-img" src=indexdata.recommend_travel_notes[j].picture alt="...")
                        div(class="media-body")
                            a(href="/article/content/" + indexdata.recommend_travel_notes[j].id)
                                h4(class="media-heading")=indexdata.recommend_travel_notes[j].title
                            span(class="media-time")=indexdata.recommend_travel_notes[j].author
                                | &emsp;
                                span.media-name=indexdata.recommend_travel_notes[j].time
                            p.media-intro 斯米兰群岛斯米兰群岛斯米兰群岛斯米兰群岛斯米兰群岛斯米兰群岛斯米兰群岛斯米兰群岛斯米兰群岛斯米兰群岛斯米兰群岛

