extends ../public/layout

block content
    link(href="https://cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet")

    .container-fuild.content-section(style="background-image:url("+condata.picture+")")
        .col-md-12.content-title-text
            .content-text
                h2.animated.rollIn=condata.title
                time=condata.time
                p.user="by "+condata.author
                i(class="fa fa-arrow-circle-o-down fa-3x show-btn" aria-hidden="true")
        .col-md-12.content-list
            span.back-btn
                i(class="fa fa-arrow-circle-up fa-2x" aria-hidden="true")
            span.prev-btn
                 i(class="fa fa-arrow-circle-left fa-2x" aria-hidden="true")
            span.next-btn
                i(class="fa fa-arrow-circle-right fa-2x" aria-hidden="true")
            .col-md-12.con-content
                ul.list-con
                    -for(var i=0;i<condata.content.length;i++)
                        if(condata.content[i].node=="day")
                            li.day
                                .day_text
                                    h4=condata.content[i].day_date
                                    p=condata.content[i].day_index
                        else if(condata.content[i].node=="text")
                            li.text
                                p=condata.content[i].text_content
                        else if(condata.content[i].node=="node")
                            li.node
                                h4=condata.content[i].node_name
                                p.node-eng=condata.content[i].node_name_en
                                p.node-eng=condata.content[i].memo
                                if(condata.content[i].score)
                                    p="我的评价："
                                        -for(var j=0;j<condata.content[i].score;j++)
                                                i(class="fa fa-star" aria-hidden="true")
                                p.desc=condata.content[i].desc
                        else if(condata.content[i].node == "photo")
                            li
                                p=condata.content[i].caption
                                img(src=condata.content[i].src)












